{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="lane, hvac, mechanical, lanehvacmechanical, l.a.n.e, cooling, heating, electricity services Deej Virt, Deej, Virt, repairman, repair, man,">
	<meta name="author" content="Excellent wish">


	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<title>L.A.N.E HVAC</title>
	<!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="{% static 'css/plugins/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/plugins/slick.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/0f96215e04.js" crossorigin="anonymous"></script>
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
	<!-- Compiled and minified CSS -->

</head>

<body class="home layout2">




	<div class="preloader">
		<div class="circles">
			<div class="large-circle"></div>
			<div class="mid-circle"></div>
			<div class="small-circle"></div>
		</div>
	</div><!-- 	preloader end -->

	<header>
		<div class="top_header" id="top_header">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 contc">
						<ul class="cnt_hed">
							<li>
								<div class="head-info">
									<span class="hd_is map">
										<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="97.713px"
											height="97.713px" viewBox="0 0 97.713 97.713" xml:space="preserve">
											<g>
												<path d="M48.855,0C29.021,0,12.883,16.138,12.883,35.974c0,5.174,1.059,10.114,3.146,14.684
												c8.994,19.681,26.238,40.46,31.31,46.359c0.38,0.441,0.934,0.695,1.517,0.695s1.137-0.254,1.517-0.695
												c5.07-5.898,22.314-26.676,31.311-46.359c2.088-4.57,3.146-9.51,3.146-14.684C84.828,16.138,68.69,0,48.855,0z M48.855,54.659
												c-10.303,0-18.686-8.383-18.686-18.686c0-10.304,8.383-18.687,18.686-18.687s18.686,8.383,18.686,18.687
												C67.542,46.276,59.159,54.659,48.855,54.659z" />
											</g>
										</svg>
									</span>
									<div class="cnt-info">
										<span>Maryland, Virgina, DC Area</span>
									</div>
								</div>
								<!--head-info end-->
							</li>
							<li>
								<div class="head-info">
									<span class="hd_is time">
										<svg version="1.1" id="Capa_1239" xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="97.16px"
											height="97.16px" viewBox="0 0 97.16 97.16" xml:space="preserve">
											<g>
												<g>
													<path
														d="M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823
													c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z" />
													<path d="M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832
													c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z" />
												</g>
											</g>
										</svg>
									</span>
									<div class="cnt-info">
										<span>Monday-Friday <br />8:00 am - 8:00 pm</span>
									</div>
								</div>
								<!--head-info end-->
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="col-lg-4 col-md-5">
						<div class="logo">
							<a href="#top_header" title=""><img src="{% static 'images/lanelog2.png' %}" alt=""></a>
						</div>
						<!--logo end-->
					</div>
					<div class="col-lg-4 col-md-3 contc">
						<div class="emg-sec">
							<span><i class="fa fa-phone"></i>24/7 Emergency Service</span>
							<h4><i class="fa fa-phone"></i>+1 443-220-1533</h4>
						</div>
						<!--emg-sec end-->
						<ul class="social_links">
							<li><a href="https://www.facebook.com/profile.php?id=100092497842384" title="Lane HVAC"><i
										class="fa fa-facebook"></i></a></li>

						</ul>
						<!--social_links end-->
					</div>
					<a href="#" title="" class="menu_btn">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
							xml:space="preserve">
							<g>
								<g>
									<path d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636
									c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z" />
								</g>
							</g>
							<g>
								<g>
									<path d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636
									c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z" />
								</g>
							</g>
							<g>
								<g>
									<path d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636
									c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z" />
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>


		</div>
		<!--top_header end-->


		<div class="navigations">
			<div class="container">
				<nav>
					<ul>
						<li><a href="#top_header" title="">HOME</a></li>

						<li><a href="#service" title="services">Services</a></li>
						<li><a href="#faq" title="faq">faqs</a></li>
						<li><a href="#financing" title="">Finance</a></li>
						<li><a href="#contact_us" title="">contact us</a></li>


					</ul>
				</nav>
				<!--nav end-->
			</div>
		</div>
	</header>
	<!--header end-->

	<div class="responsive-header">
		<div class="container">
			<div class="responsive_hd_logo">
				<a href="#top_header" title="home">
					<img src="{% static 'images/lanelog2.png' %}" alt="">
				</a>
			</div>
			<!--responsive_hd_logo end-->
			<div class="responsive_header_navigations">
				<nav>
					<ul>
						<li><a href="#service" title="">services</a></li>
						<li><a href="#faq" title="">faqs</a></li>
						<li><a href="#financing" title="">Finance</a></li>
						<li><a href="#contact_us" title="">Contact us</a></li>
					</ul>
				</nav>
			</div>
			<!--responsive_header_navigations end-->
			<a href="#" title="" class="menu_btn">
				<svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
					xml:space="preserve">
					<g>
						<g>
							<path d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636
							c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z" />
						</g>
					</g>
					<g>
						<g>
							<path d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636
							c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z" />
						</g>
					</g>
					<g>
						<g>
							<path d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636
							c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z" />
						</g>
					</g>
				</svg>
			</a>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--responsive-header end-->


	{% block content %}

	{% endblock %}

	<footer>


		<div class="container">
			<div class="footer-content">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="widget widget-about">
							<img src="{% static 'images/airCon.png' %}" alt="">
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="widget widget-contact">
							<ul>
								<li>
									<span><small>P</small>hone:</span> <span class="fl_right"><a
											href="tel:+1-443-220-1553">1 (443) 220-1533</a></span>
								</li>
								<li>
									<span><small>E</small>mail:</span> <span
										class="fl_right">lanehvacmechanical@gmail.com</span>
								</li>
								<li>
									<span><small>S</small>erving:</span> <span class="fl_right">Maryland, Virgina &
										DC Area</span>
								</li>
								<li>Mon-Fri 8:00 AM - 8:00 PM, Sat-Sun</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<ul class="social_lnks">
							<li><a href="https://www.facebook.com/profile.php?id=100092497842384" title=""><i
										class="fa fa-facebook"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col">

					</div>
					<div class="col">
						<p class="widget" style="color:white;"><span id="copyright" style="color:white;"></span>©
							L.A.N.E HVAC Mechanical LLC All rights reserved. </p>
					</div>
					<div class="col">

					</div>
				</div>
			</div>
		</div>

	</footer>
	<!--footer end-->


	<a href="#" title="" class="scrollTop"><i class="fa fa-long-arrow-up"></i></a>


	<div class="popup_form appint_form">
		<div class="appointment_form">
			<div class="apt_form_head">
				<h3>Call US or Email</h3>
				<a href="#" title="" class="close_apt_form"><img src="{% static 'images/close.png' %}" alt=""></a>
			</div>
			<!--apt_form_head end-->
			<p>Call US on <a href="tel:+1-443-220-1553">1 (443) 220-1533</a></p>
			<form class="rqs_form">
				<div class="input_field">
					<input type="text" name="name" placeholder="Your name">
				</div>
				<!--input_field end-->
				<div class="input_field">
					<input type="email" name="email" placeholder="Your e-mail">
				</div>
				<!--input_field end-->
				<div class="input_field">

				</div>
				<!--input_field end-->
				<div>
				</div>
				<!--input_field end-->
				<!--input_field end-->
				<div class="submit_btn">
					<input type="submit" name="submit" value="Submit Request">
				</div>
				<!--submit_btn end-->
			</form>
		</div>
	</div>


	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins/moment.min.js' %}"></script>


	<script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/plugins/slick.min.js' %}"></script>
	<script src="{% static 'js/plugins/custom-tabs.js' %}"></script>

	<script src="{% static 'js/scripts.js' %}"></script>
	<script>
		$("#copyright").text(new Date().getFullYear());
	</script>


</body>

</html>